@import '../../css/commonstyle.css';

/* Mobile first */

.wrapper {
    min-height: 82vh;
    /*  min-width: calc(100vw - (100vw - 100%)); */
    background-color: #fec631;
}

.headline {
    padding-top: 100px;
    font-size: 2.5em;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

form {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

#search {
    width: 65%;
    margin: 0;
    padding: 20px;
    outline: 0;
    border: 0;
    font-size: 1.1em;
}

#submit-btn {
    width: 35%;
    background-color: #f7f7f7;
    border: 0;
    outline: 0;
    font-size: 1.1em;
}

#submit-btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}


/* Tablet */

@media screen and (min-width: 768px) {
    .headline {
        font-size: 3.5em;
    }
    #search,
    #submit-btn {
        font-size: 2em;
    }
}


/*  Uzduoties  styles*/


/* rezultato isvedimo bloko stilizavimas  */

.hide {
    display: none;
}

#output {
    position: relative;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 10px #888888;
    width: 33.3%;
    left: 33.3%;
    background-color: rgb(234, 230, 230);
    padding: 20px 0;
}

#output span {
    color: burlywood;
    font-size: 20px;
    font-weight: 800;
}

#output p {
    color: green;
    font-size: 20px;
    font-weight: 800;
}

#alert {
    margin-top: 20px;
    color: red;
}

.card {
    padding: 1rem;
    box-shadow: 5px 5px 10px rgb(180, 190, 194);
    border: 1px solid rgb(191, 180, 180);
    border-radius: 5px;
    background-color: snow;
}

header {
    background-color: rgb(202, 199, 199);
}

a {
    text-decoration: none;
}

.main-nav__link {
    display: inline-block;
    padding: 0.8em 1.6em;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: normal;
}

.main-nav__link:hover {
    background-color: rgb(216, 216, 216);
    color: #2250fc;
}

.flex {
    display: flex;
    gap: 1rem;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.justify-content {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.max-w-300 {
    max-width: 300px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}